* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.form-box {
    width: 500px;
    background: rgba(0, 0, 0, .8);
    margin: 12% auto;
    padding: 50px;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .5);
}

h1  {
    text-align: center;
    margin-bottom: 40px;
}

.input-box {
    margin: 31ox auto;
    width: 80%;
    border-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 52px ;
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder {
    color: #ccc; 
}

.icon {
    margin-right: 10px;
}

.eye {
    position: absolute;
}

#hide1 {
    display: none;
}

.btn-primary {
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.btn-primary {
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.login-btn:hover {
    background-color: pink;
    color: #000;
    font-weight: bold;
}

